header{
    background-color: #e5ac50;
    height: 60px;
}
.bloc_beige{
    background-color: #f6e7cf;
}
.violet{
    background-color: #7b2cdd;
    height: 300px;
    color: aliceblue;

}
