.main { 
    background-color: #433D3D;
}
.main_text { 
    color: #ffffff;
}
.main_text_pig { 
    color: #ED7AF5;
}
.main_red { 
    width: 100px;
    height: 100px;
    background-color: #F74344;

}
.second { 
    background-color: #C59EF9;
    width: 300px;
}
.second_element { 
    color: #ffffff;
    background-color: #7342B5;
}